<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.zup.beagleui">
    <application>
        <activity android:name=".framework.view.BeagleUIActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>
</manifest>
